body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0f29;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 24px;
}
nav {
    background: #11173f;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
img, iframe {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
@media (max-width: 600px) {
    ha1 {
        font-size: 22px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}
